/videos/
/covers/

update-song-data.log

/public/secret-config.json
/public/data/songs.json
/public/

.env
.env.*

# All kind of notes and untracked archive
/archive

/node_modules/
/dist/
/coverage/
/playwright-report/
/test-results/
