# data / songs / videos
/data/
/public/data/

update-song-data.log

# secrets
/public/secret-config.json


.env
.env.*

# npm / build related
/node_modules/
/dist/
/coverage/
/playwright-report/
/test-results/


# All kind of notes and untracked archive
/archive
